/** GENERAL */
.pageHr{
    border-top: 2px solid;
}

.border-box{
    box-sizing: border-box;
}

.columnsGroup{
    gap: 0;
}

.columnsIMGPortraitContainer{
    width: 100%;
    /* height: 100%; */
}

.columnsIMGPortraitContainer > figure{
    height: 100%;
    width: 100%;
}

.columnsIMGPortraitContainer > figure >img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gridIMGContainer >figure{
    width: 100%;
    height: 100%;
}

.gridIMGContainer >figure >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** HOME PAGE */
.heroBannerLargeH2{
    text-shadow: 5px 5px 5px rgba(24, 24, 24, 0.877);
    /* -webkit-text-stroke: 3px black; */
    font-size: 4rem;
    color: white;
    paint-order: stroke fill;
}

.heroBannerLargeDetails{
    max-width: 80%;
    text-align: center;
    display: block;
    text-shadow: 5px 5px 5px rgba(24, 24, 24, 0.877);

    /* color: red; */
}

.heroBannerLargeHr{
    border-top: 2px solid;
}

.homePageBanner63Columns{
    gap: 0;
}

.homePageBanner60Column > figure{
    width: 100%;
    height: 100%;
}

.homePageBanner60Column > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homePageBanner30Column{
    box-sizing: border-box;
}

.queryLoopMain >li {
    transition: 0.3s;
    box-shadow: 5px 5px 5px rgba(24, 24, 24, 0.877);
}

.queryLoopMain >li:hover{
    transform: scale(1.02);
}


/** Blog Home*/

.blogHomeH2Glow{
    /* text-shadow: 2px 2px 10px #cb6e0a; */
    /* paint-order: stroke fill; */
}

.blogHomeHeroBanner{
    width: 100%;
    display: flex;
    height: 600px;
}

.blogHomeHeroBanner >div{
    max-width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogHomeHeroBanner > figure{
    min-width: 70%;
    height: 100%;
    /* object-fit: cover; */
}
.blogHomeHeroBanner > figure >img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogHome2ColumnBannerImgContainer > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blogHome2ColumnBannerImgContainer > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.blogHomeBannerImgBGInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
